.bouton {
    display:inline-block; 
    border-radius: 10px;  
    border:solid 2px gray;
    padding: 5px 10px 5px 10px;
    background-color: wheat;
}

.competence {
    display:inline-block; 
    border-radius: 10px;  
    border:solid 2px green;
    padding: 5px 10px 5px 10px;
}

.contenu {
    margin: 5px
}

.expfor {
    /*display:inline-block;*/
    display: inline; 
    margin: 5px;
    min-height: 300px; 
    
}

.experiences {
    padding:5px;
    width: 50%; 
    float:left;    
    background-color: cornsilk; 
    min-height: 300px;
    border:solid 1px; 
    border-color: transparent;
    border-right-color: black;
}

.formations {
    padding: 5px;
    width: 50%; 
    float:right;    
    background-color: ivory; 
    min-height: 300px; 

}

#myTabContent{
    min-height: 500px;
}

#identite{
    display: inline-block;
    margin-bottom: 100px;
}
